/* FORSIDE */

/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5efe7;
  color: black;
  margin: 0;
  padding: 0;
}

/* Hero Section */
/* Hero Section */
.hero {
  text-align: center;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  width: 90%;
  max-width: 800px;
  margin-top: 200px;
}
.scroll-down {
  margin-top: 300px;
  animation: pulse 10s linear infinite;
}

/* Arcade Section */
.arcade {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 50px;
  position: relative;
}

.arcade-machine {
  position: relative;
}
.arcade-machine img {
  width: 100%;
  position: relative;
  display: block;
}

/* spil */
.cart {
  position: absolute;
  top: 126%; /* Start position for Y */
  left: 25%; /* Start position for X (venstre) */
  transform: translate(-50%, -50%);
  transition: left 1s ease-in-out; /* Animation til at flytte vogn */
}

/* categories */
.categorylist {
  /* Placerer knapperne oven på billedet */
  position: absolute;
  top: 126.5%;
  left: 51%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 26%;
  width: 50%;
}

.categorylist a {
  font-family: "Silkscreen", serif;
  text-transform: uppercase;
  font-weight: bold;
  place-self: center;
  font-size: 0.8rem;
  text-align: center;
  width: auto;
  text-decoration: none;
  color: #3669db;
  cursor: pointer;
  border: 2px solid black;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url(../assets/dot-emty.svg);
  background-color: #f7b4f7;
  border-radius: 8px;
}

.categorylist a:hover {
  font-weight: 450;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border: 1px solid black;

  border-radius: 8px;
  margin: 20px;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}
.banner-text {
  animation: scrollText 60s linear infinite;
}

/* Weekly Inspiration */
.weekly-inspiration {
  text-align: center;
  margin: 30px;
  font-family: "Press Start 2P", serif;
}
.inspiration-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inspiration-card {
  background: white;
  padding: 5px;
  width: 50%;
  text-align: left;
  font-family: "Silkscreen", serif;
  font-size: 0.8rem;
  border-radius: 8px;
  /* pixeleret effekt på boks */
  border: 4px solid black;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url(assets/dot-emty.svg);
}
.inspiration-card li {
  margin-left: -20px;
}

.shop-button {
  background: white;
  display: block;
  margin: 10px auto;
  padding: 6px;
  color: #3f3f3f;
  border: none;
  cursor: pointer;
  border: 2px solid black;
  border-image-slice: 4;
  border-image-width: 2;
  border-image-outset: 0;
  border-image-source: url(assets/dot-emty.svg);
  filter: grayscale(100%) contrast(100%);
}

.notes {
  width: 100%;
}
.arrow {
  color: #3669db;
  background-color: #f8f0e7;
  border: 1px solid #f8f0e7;
  padding: 50px;
}

/* Desktop */
@media (min-width: 1024px) {
  /* Hero Section */
  .hero {
    height: 70vh;
    justify-content: flex-start;
    margin-top: 100px;
  }

  .hero-logo {
    width: 50%;
    max-width: 1000px;
    margin-top: 0;
  }

  .scroll-down {
    margin-top: 50px;
  }

  /* Arcade Section */
  .arcade {
    margin: 50px 0;
    padding: 80px;
  }

  .arcade-machine img {
    width: 75%;
    place-self: center;
  }

  /* Spil */
  .cart {
    top: 145%; /* Juster Y-position */
    left: 37%; /* Flyt indkøbsvognen til venstre */
  }

  /* Categories */
  .categorylist {
    padding: auto;
    top: 145%;
    left: 51%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 43%;
    width: 30%;
  }

  .categorylist a {
    font-size: 0.8rem; /* Øg fontstørrelsen */
    padding: 5px;
  }

  /* Weekly Inspiration */
  .inspiration-card {
    width: 15%; /* Gør kortene mindre på desktop */
    margin: 10px;
    height: 100%;
  }

  .inspiration-container {
    display: flex;
  }

  .inspiration-card li {
    margin-left: 0;
  }

  .shop-button {
    position: relative;
    margin: 15px auto;
    margin-top: 90px;
  }

  /* Banner */
  .banner {
    margin: 30px;
    padding: 20px;
  }

  .banner-text {
    animation: scrollText 30s linear infinite;
  }

  .arrow {
    color: #3669db;
    background-color: #f8f0e7;
    border: 1px solid #f8f0e7;
    padding: 10px;
  }
  .inspiration-container {
    flex-direction: row; /* Desktop: kortene står ved siden af hinanden */
    justify-content: center;
  }

  .inspiration-card {
    height: 450px;
    width: 300px;
  }
}
